<div class="topic-index-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= @user.name %>
            </h2>
            <div class="profile-image">
             <%= image_tag @profile.profile_image.url %>
            </div>
            <h4 class="topic-text">居住地</h4>
            <p class="topic-text">
              <%= @profile.place %>
            </p>
            <h4 class="topic-text">一言</h4>
            <p class="topic-text">
              <%= @profile.introduce %>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>