// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ranking {
    color: red;
    margin-left: 22px;
    border-bottom: double 4px red;
    width: 64px;
}